<?xml version="1.0" encoding="UTF-8"?>
    <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>F2C8C62E-F47C-4227-8858-387167001B5D</title>
        <defs>
            <path d="M5.33333333,-1.77635684e-15 C5.70152317,-1.77635684e-15 6,0.298476833 6,0.666666667 L6,4.666 L10,4.66666667 C10.334718,4.66666667 10.611822,4.91334174 10.6594383,5.23481822 L10.6666667,5.33333333 C10.6666667,5.70152317 10.3681898,6 10,6 L6,6 L6,10 C6,10.334718 5.75332493,10.611822 5.43184845,10.6594383 L5.33333333,10.6666667 C4.9651435,10.6666667 4.66666667,10.3681898 4.66666667,10 L4.666,6 L0.666666667,6 C0.331948636,6 0.0548446557,5.75332493 0.00722837841,5.43184845 L-1.77635684e-15,5.33333333 C-1.77635684e-15,4.9651435 0.298476833,4.66666667 0.666666667,4.66666667 L4.666,4.666 L4.66666667,0.666666667 C4.66666667,0.331948636 4.91334174,0.0548446557 5.23481822,0.00722837841 Z" id="path-1"></path>
        </defs>
        <g id="Dirtea-–-Full-Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="00_Dirtea---HP---Desktop" transform="translate(-997.000000, -10760.000000)">
                <rect fill="#FFFEF2" x="0" y="0" width="1440" height="11895"></rect>
                <g id="FAQs" transform="translate(0.000000, 10311.000000)">
                    <rect id="Rectangle" fill="#EBEADE" transform="translate(720.000000, 354.000000) scale(1, -1) translate(-720.000000, -354.000000) " x="0" y="0" width="1440" height="708"></rect>
                    <g transform="translate(401.000000, 80.000000)">
                        <text id="Lorem-ipsum-dolor-si-Copy-3" font-family="RocGrotesk-Light, Roc Grotesk" font-size="24" font-weight="300" line-spacing="26" letter-spacing="1.14285714" fill="#252525">
                            <tspan x="12" y="384">Lorem ipsum dolor sit amet?</tspan>
                        </text>
                        <g id="_BRANDING-/-Icons-/-More-+-Copy-4" transform="translate(596.000000, 369.000000)">
                            <circle id="Oval" stroke="#252525" cx="15" cy="15" r="14.5"></circle>
                            <g id="minus-copy" transform="translate(9.666667, 9.666667)">
                                <mask id="mask-2" fill="white">
                                    <use xlink:href="#path-1"></use>
                                </mask>
                                <use id="Combined-Shape" fill="#000000" fill-rule="nonzero" xlink:href="#path-1"></use>
                                <g id="COLOR/-black" mask="url(#mask-2)" fill="#252525">
                                    <g transform="translate(-2.666667, -2.666667)" id="Rectangle-Copy-2">
                                        <rect x="0" y="0" width="16" height="16"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>