<?xml version="1.0" encoding="UTF-8"?>
<svg width="218px" height="4px" viewBox="0 0 218 4" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>B2804FC7-304D-477F-9225-0AE69C2F41B5</title>
    <g id="Dirtea-–-Full-Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="01_Dirtea---Black-Friday---Desktop" transform="translate(-576.000000, -436.000000)" fill="{{ fill_colour }}">
            <g id="Hero" transform="translate(0.000000, 90.000000)">
                <g id="Copy-block" transform="translate(439.000000, 35.000000)">
                    <g id="Title" transform="translate(0.000000, 70.000000)">
                        <rect id="Rectangle" x="137.5" y="241.321168" width="217" height="3.00729927"></rect>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>