<?xml version="1.0" encoding="UTF-8"?>
<svg width="111px" height="109px" viewBox="0 0 111 109" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>CDD56B87-1D5E-4AC8-AA4A-1938CDCAEEFF</title>
    <g id="Dirtea-–-Full-Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="00_Dirtea---HP---Desktop" transform="translate(-1269.000000, -2921.000000)" fill="#FF3131">
            <g id="Product-carousel---Black-Friday" transform="translate(0.000000, 2814.000000)">
                <g id="Product-row" transform="translate(16.000000, 80.000000)">
                    <g id="Products" transform="translate(64.000000, 0.000000)">
                        <g id="Stars" transform="translate(302.000000, 27.000000)">
                            <g id="_BRANDING-/-Icons-/-Discount-Star-Copy" transform="translate(887.000000, 0.000000)">
                                <polygon id="Star" points="55.5 99.1230719 39.8638431 108.75186 31.9155867 92.1980634 13.5558986 91.8447707 15.819058 73.621679 0.564909976 63.3984735 12.320948 49.2917896 5.01542426 32.4444668 22.5318819 26.9329631 25.4944346 8.81042893 43.2099604 13.643969 55.5 0 67.7900396 13.643969 85.5055654 8.81042893 88.4681181 26.9329631 105.984576 32.4444668 98.679052 49.2917896 110.43509 63.3984735 95.180942 73.621679 97.4441014 91.8447707 79.0844133 92.1980634 71.1361569 108.75186"></polygon>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg> 