<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="17px" height="16px" viewBox="0 0 17 16" version="1.1">
    <title>Star</title>
    <g id="Dirtea-–-Full-Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="00_Dirtea---HP---Desktop" transform="translate(-788.000000, -2441.000000)" fill="#08dc8c">
            <g id="Product-carousel" transform="translate(0.000000, 1991.000000)">
                <g id="Product-row" transform="translate(16.000000, 149.000000)">
                    <g id="Products" transform="translate(64.000000, 0.000000)">
                        <g id="Cordyceps" transform="translate(629.000000, 0.000000)">
                            <g id="Reviews" transform="translate(79.000000, 297.000000)">
                                <g id="Stars" transform="translate(0.000000, 4.000000)">
                                    <polygon id="Star" points="8.5 12.75 3.50382536 15.3766445 4.45800981 9.81332223 0.416019611 5.87335555 6.00191268 5.06167777 8.5 0 10.9980873 5.06167777 16.5839804 5.87335555 12.5419902 9.81332223 13.4961746 15.3766445"/>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>