<?xml version="1.0" encoding="UTF-8"?>
<svg width="23px" height="31px" viewBox="0 0 23 31" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>43A2ECCE-5BEB-4B31-8F64-6284D85A5C3C</title>
    <g id="Dirtea-–-Full-Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="01_Dirtea---Subscription---Desktop" transform="translate(-305.000000, -1800.000000)" fill="#000000">
            <g id="How-its-shipped" transform="translate(0.000000, 1467.000000)">
                <g id="Group" transform="translate(301.000000, 184.000000)">
                    <path d="M25.691,148.9996 C26.032,148.9996 26.309,149.2776 26.309,149.6196 L26.309,178.8806 C26.309,179.2226 26.032,179.4996 25.69,179.4996 L4.619,179.4996 C4.277,179.4996 4,179.2226 4,178.8806 L4,149.6196 C4,149.2776 4.277,148.9996 4.619,148.9996 Z M25.071,150.2386 L5.238,150.2386 L5.238,153.0696 L6.256,153.0696 C6.598,153.0696 6.876,153.3476 6.876,153.6886 C6.876,154.0296 6.598,154.3076 6.256,154.3076 L5.238,154.3076 L5.238,178.2626 L25.071,178.2626 L25.071,154.3076 L24.273,154.3076 C23.931,154.3076 23.654,154.0296 23.654,153.6886 C23.654,153.3476 23.931,153.0696 24.273,153.0696 L25.071,153.0696 L25.071,150.2386 Z M22.6363,153.0693 C22.9773,153.0693 23.2543,153.3473 23.2543,153.6883 C23.2543,154.0293 22.9773,154.3073 22.6363,154.3073 L20.9973,154.3073 C20.6573,154.3073 20.3793,154.0293 20.3793,153.6883 C20.3793,153.3473 20.6573,153.0693 20.9973,153.0693 Z M9.5328,153.0693 C9.8748,153.0693 10.1518,153.3473 10.1518,153.6883 C10.1518,154.0293 9.8748,154.3073 9.5328,154.3073 L7.8948,154.3073 C7.5538,154.3073 7.2758,154.0293 7.2758,153.6883 C7.2758,153.3473 7.5538,153.0693 7.8948,153.0693 Z M12.8082,153.0693 C13.1502,153.0693 13.4272,153.3473 13.4272,153.6883 C13.4272,154.0293 13.1502,154.3073 12.8082,154.3073 L11.1702,154.3073 C10.8292,154.3073 10.5512,154.0293 10.5512,153.6883 C10.5512,153.3473 10.8292,153.0693 11.1702,153.0693 Z M16.0846,153.0693 C16.4266,153.0693 16.7036,153.3473 16.7036,153.6883 C16.7036,154.0293 16.4266,154.3073 16.0846,154.3073 L14.4466,154.3073 C14.1056,154.3073 13.8276,154.0293 13.8276,153.6883 C13.8276,153.3473 14.1056,153.0693 14.4466,153.0693 Z M19.36,153.0693 C19.701,153.0693 19.978,153.3473 19.978,153.6883 C19.978,154.0293 19.701,154.3073 19.36,154.3073 L17.721,154.3073 C17.381,154.3073 17.103,154.0293 17.103,153.6883 C17.103,153.3473 17.381,153.0693 17.721,153.0693 Z" id="Bag"></path>
                </g>
            </g>
        </g>
    </g>
</svg>