<?xml version="1.0" encoding="UTF-8"?>
<svg width="21px" height="21px" viewBox="0 0 21 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>ACB82071-E9DA-417E-B362-99CA9C4EC34B</title>
    <defs>
        <path d="M0.796649831,2.9366835 C0.614405162,2.75443883 0.318928172,2.75443883 0.136683502,2.9366835 C-0.0455611674,3.11892817 -0.0455611674,3.41440516 0.136683502,3.59664983 L2.47001684,5.92998316 C2.6522615,6.11222783 2.9477385,6.11222783 3.12998316,5.92998316 L8.2633165,0.796649831 C8.44556117,0.614405162 8.44556117,0.318928172 8.2633165,0.136683502 C8.08107183,-0.0455611674 7.78559484,-0.0455611674 7.60335017,0.136683502 L2.8,4.94003367 L0.796649831,2.9366835 Z" id="path-1"></path>
    </defs>
    <g id="Dirtea-–-Full-Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="00_Dirtea---HP---Desktop" transform="translate(-569.000000, -1884.000000)">
            <rect fill="#FFFEF2" x="0" y="0" width="1440" height="11632"></rect>
            <g id="Meet-the-mushrooms" transform="translate(0.000000, 1465.000000)">
                <rect id="Rectangle" fill="#FFFEF2" transform="translate(720.000000, 263.000000) scale(1, -1) translate(-720.000000, -263.000000) " x="0" y="0" width="1440" height="526"></rect>
                <g id="Sells" transform="translate(375.000000, 413.000000)">
                    <g id="1" transform="translate(194.000000, 0.000000)">
                        <g id="_BRANDING-/-Icons-/-More-+" transform="translate(0.000000, 6.000000)">
                            <circle id="Oval" stroke="#252525" stroke-width="0.7" cx="10.5" cy="10.5" r="10.15"></circle>
                            <g id="minus-copy" transform="translate(6.300000, 7.700000)">
                                <mask id="mask-2" fill="white">
                                    <use xlink:href="#path-1"></use>
                                </mask>
                                <use id="Shape" fill="#000000" fill-rule="nonzero" xlink:href="#path-1"></use>
                                <g id="COLOR/-black" mask="url(#mask-2)" fill="#000000">
                                    <g transform="translate(-1.400000, -2.800000)" id="Rectangle">
                                        <rect x="0" y="0" width="11.2" height="11.2"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>