<?xml version="1.0" encoding="UTF-8"?>
<svg width="22px" height="21px" viewBox="0 0 22 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>2148D50F-7D0B-4D59-AE1B-FC97E74A81F4</title>
    <g id="Dirtea-–-Full-Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="01_Dirtea---Subscription---Desktop" transform="translate(-305.000000, -1756.000000)" fill="#000000">
            <g id="How-its-shipped" transform="translate(0.000000, 1467.000000)">
                <g id="Group" transform="translate(301.000000, 184.000000)">
                    <path d="M25.1052278,104.999925 C25.5974346,104.999925 26.0001492,105.40264 26.0001492,105.894847 L26.0001492,111.413528 C26.0001492,111.547766 25.9554031,111.726751 25.865911,111.860989 C25.9554031,112.129465 26.0001492,112.397942 26.0001492,112.711164 L26.0001492,123.375643 C26.0001492,125.80549 24.0927368,125.879122 23.03873,125.881353 L6.95691414,125.881353 C5.86533708,125.879122 4,125.80549 4,123.375643 L4,112.711164 C4,112.353196 4.04474607,112.084719 4.1342382,111.860989 C4.04474607,111.726751 4,111.591767 4,111.413528 L4,105.894847 C4,105.40264 4.40271459,104.999925 4.89492132,104.999925 L25.1052278,104.999925 Z M24.105899,112.30845 L5.93825043,112.30845 C5.09996085,112.350399 5.04756775,112.471004 5.04429318,112.670263 L5.04480841,124.181453 C5.0543444,124.451527 5.18784825,124.837348 7.05690208,124.837348 L22.9425013,124.837348 C24.9553285,124.837348 24.9553285,124.435379 24.9553285,124.121411 L25.0008203,124.121411 L25.0006019,112.670263 C24.9973246,112.471004 24.9448878,112.350399 24.105899,112.30845 Z M22.7632933,121.982549 C23.0556343,121.982549 23.2912969,122.218957 23.2912969,122.510553 C23.2912969,122.802894 23.0556343,123.038556 22.7632933,123.038556 C22.4709523,123.038556 22.234544,122.802894 22.234544,122.510553 C22.234544,122.218212 22.4709523,121.982549 22.7632933,121.982549 Z M22.7625475,115.441047 C22.9534641,115.441047 23.0802446,115.567828 23.0802446,115.757998 L23.0802446,120.035722 C23.0802446,120.225893 22.9534641,120.352674 22.7632933,120.352674 C22.6044448,120.352674 22.4455962,120.225893 22.4455962,120.06779 L22.4455962,115.757998 C22.4455962,115.567082 22.5723768,115.441047 22.7625475,115.441047 Z M24.9553285,106.044 L4.95383698,106.044 L4.95458274,111.264375 L24.9553285,111.264375 L24.9553285,106.044 Z" id="Tin"></path>
                </g>
            </g>
        </g>
    </g>
</svg>