<?xml version="1.0" encoding="UTF-8"?>
    <svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <title>4FE44E61-33D8-4068-9272-1B61C2396400</title>
        <defs>
            <rect id="path-1" x="0" y="0" width="1440" height="684"></rect>
            <path d="M0.531099887,1.957789 C0.409603441,1.83629256 0.212618781,1.83629256 0.0911223347,1.957789 C-0.0303741116,2.07928545 -0.0303741116,2.27627011 0.0911223347,2.39776655 L1.64667789,3.95332211 C1.76817434,4.07481856 1.965159,4.07481856 2.08665544,3.95332211 L5.50887767,0.531099887 C5.63037411,0.409603441 5.63037411,0.212618781 5.50887767,0.0911223347 C5.38738122,-0.0303741116 5.19039656,-0.0303741116 5.06890011,0.0911223347 L1.86666667,3.29335578 L0.531099887,1.957789 Z" id="path-3"></path>
        </defs>
        <g id="Dirtea-–-Full-Designs" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="01_Dirtea---Turkey-Tremella---Desktop" transform="translate(-80.000000, -1828.000000)">
                <rect fill="#FFFEF2" x="0" y="0" width="1440" height="6470"></rect>
                <g id="Tremella" transform="translate(0.000000, 1317.000000)">
                    <g transform="translate(0.000000, 56.000000)">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1" transform="translate(720.000000, 342.000000) scale(1, -1) translate(-720.000000, -342.000000) "></use>
                        </mask>
                        <use id="Rectangle" fill="#EAE1DA" transform="translate(720.000000, 342.000000) scale(1, -1) translate(-720.000000, -342.000000) " xlink:href="#path-1"></use>
                        <g id="Copy-block" mask="url(#mask-2)">
                            <g transform="translate(80.000000, 80.000000)" id="List">
                                <g transform="translate(0.000000, 279.000000)">
                                    <g id="_BRANDING-/-Icons-/-More-+-Copy-11" transform="translate(0.000000, 96.000000)">
                                        <circle id="Oval" stroke="#252525" stroke-width="0.5" cx="7" cy="7" r="6.75"></circle>
                                        <g id="minus-copy" transform="translate(4.200000, 5.133333)">
                                            <mask id="mask-4" fill="white">
                                                <use xlink:href="#path-3"></use>
                                            </mask>
                                            <use id="Shape" fill="#000000" fill-rule="nonzero" xlink:href="#path-3"></use>
                                            <g id="COLOR/-black" mask="url(#mask-4)" fill="#000000">
                                                <g transform="translate(-0.933333, -1.866667)" id="Rectangle">
                                                    <rect x="0" y="0" width="7.46666667" height="7.46666667"></rect>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>