<div class="all-mushrooms-container desktop-only">
    <div class="all-mushrooms-image-container">
        <img src="{{ section.settings.mushroom_image | image_url: width: 2880 }}"/>
    </div>
    <div class="all-mushrooms-text-container">
        <div>Lion's Mane</div>
        <div>Reishi</div>
        <div>Cordyceps</div>
        <div>Chaga</div>
        <div>Tremella</div>
        <div>Turkey Tail</div>
    </div>
</div>

<div class="all-mushrooms-swiper mobile-only">
    <div class="swiper-wrapper" style="z-index: 0;">
        {% for block in section.blocks %}
            <div class="all-mushrooms-single-container swiper-slide">
                <div>{{ block.settings.mushroom_name }}</div>
                <img src="{{ block.settings.mushroom_image | image_url }}"/>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    const allMushroomsSwiper = new Swiper('.all-mushrooms-swiper', {
        direction: 'horizontal',
        loop: true,
        slidesPerView: 1
    });
</script>

<style>
    .all-mushrooms-image-container {
        height: 190px;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
    }
    .all-mushrooms-single-container {
        width: 100%;
    }
    .all-mushrooms-single-container div {
        position: absolute;
        color: #252525;
        font-family: "Manifold";
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 29px;
        text-align: center;
        margin-top: -215px;
    }
    .all-mushrooms-single-container img {
        width: 100%;
    }
    .all-mushrooms-text-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        width: 95%;
        left:0;
        right:0;
        margin-left:auto;
        margin-right:auto;
        margin-top: -15vw;
        color: #252525;
        font-family: "Manifold Regular";
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 29px;
        text-align: center;
    }
    @media (min-width: 1200px) {
        .all-mushrooms-text-container {
            margin-top: -13vw;
        }
    }
    @media (min-width: 1600px) {
        .all-mushrooms-text-container {
            margin-top: -10vw;
        }
    }
</style>

{% schema %}
{
    "name": "All Mushrooms",
    "settings": [
        {
            "type": "image_picker",
            "id": "mushroom_image",
            "label": "Mushroom Image"
        }
    ],
    "blocks": [
        {
            "type": "mushroom",
            "name": "Mushroom",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "mushroom_image",
                    "label": "Mushroom Image"
                },
                {
                    "type": "text",
                    "id": "mushroom_name",
                    "label": "Mushroom Name",
                    "default": "Chaga"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "All Mushrooms",
            "category": "Jan"
        }
    ]
}
{% endschema %}