<div class="jan-bundles-hero-container desktop-only">
    {{ section.settings.hero_image | image_url: width: 2880 | image_tag: sizes: '(min-width:1600px) 100vw, (min-width: 750px) 100vw, calc(100vw - 4rem)'}}
</div>

<div class="jan-bundles-hero-container mobile-only">
    {{ section.settings.hero_image_mobile | image_url: width: 2500 | image_tag: sizes: '(min-width:1600px) 100vw, (min-width: 750px) 100vw, calc(100vw - 4rem)'}}
</div>

<style>
    
    .jan-bundles-hero-container img {
        width: 100%;
        height: auto;
    }

    .jan-bundles-hero-container {
        margin-top: -100px;
    }

</style>

{% schema %}
{
    "name": "Jan Bundles Hero",
    "settings": [
        {
            "type": "image_picker",
            "id": "hero_image",
            "label": "Hero Image"
        },
        {
            "type": "image_picker",
            "id": "hero_image_mobile",
            "label": "Hero Image"
        }
    ],
    "presets": [
        {
            "name": "Jan Bundles Hero",
            "category": "Jan"
        }
    ]
}
{% endschema %}