<div class="ticker-wrap orange-ticker-wrap">
    <div class="ticker">
      <div class="ticker__item orange-ticker__item">ORGANIC</div>
      <div class="ticker__item orange-ticker__item">.</div>
      <div class="ticker__item orange-ticker__item">3RD PARTY TESTED</div>
      <div class="ticker__item orange-ticker__item">.</div>
      <div class="ticker__item orange-ticker__item">ANTIOXIDANTS</div>
      <div class="ticker__item orange-ticker__item">.</div>
      <div class="ticker__item orange-ticker__item">VEGAN</div>
      <div class="ticker__item orange-ticker__item">.</div>
      <div class="ticker__item orange-ticker__item">DUAL EXTRACT MUSHROOMS</div>
      <div class="ticker__item orange-ticker__item">.</div>
      <div class="ticker__item orange-ticker__item">KETO</div>
      <div class="ticker__item orange-ticker__item">.</div>
      <div class="ticker__item orange-ticker__item">DAIRY FREE</div>
      <div class="ticker__item orange-ticker__item">.</div>
      <div class="ticker__item orange-ticker__item">NON GMO</div>
      <div class="ticker__item orange-ticker__item">.</div>
      <div class="ticker__item orange-ticker__item">ORGANIC</div>
      <div class="ticker__item orange-ticker__item">.</div>
      <div class="ticker__item orange-ticker__item">3RD PARTY TESTED</div>
      <div class="ticker__item orange-ticker__item">.</div>
      <div class="ticker__item orange-ticker__item">ANTIOXIDANTS</div>
      <div class="ticker__item orange-ticker__item">.</div>
      <div class="ticker__item orange-ticker__item">VEGAN</div>
      <div class="ticker__item orange-ticker__item">.</div>
      <div class="ticker__item orange-ticker__item">DUAL EXTRACT MUSHROOMS</div>
      <div class="ticker__item orange-ticker__item">.</div>
      <div class="ticker__item orange-ticker__item">KETO</div>
      <div class="ticker__item orange-ticker__item">.</div>
      <div class="ticker__item orange-ticker__item">DAIRY FREE</div>
      <div class="ticker__item orange-ticker__item">.</div>
      <div class="ticker__item orange-ticker__item">NON GMO</div>
      <div class="ticker__item orange-ticker__item">.</div>
    </div>
</div>

{% schema %}
    {
      "name": "Orange Ticker",
      "settings": [],
      "blocks": [
        {
            "type": "ticker",
            "name": "Ticker Message",
            "settings": [
                {
                    "type": "text",
                    "id": "ticker_message",
                    "default": "Ticker Message",
                    "label": "Ticker Message"
                }
            ]
        }
      ],
      "presets": [
        {
          "name": "Orange Ticker",
          "category": "Black Friday"
        }
      ]
    }
  {% endschema %}

<style>
$durationnew: 30s;

@-webkit-keyframes ticker {
    0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
    }

    100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
    }

    100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    }
}

.ticker-wrap {
    width: 100%;
    overflow: hidden;
    height: 4rem;  
}

.orange-ticker-wrap {
    background-color: #DE8C59;
    border: none !important;
    width: 100%;
    margin: 0px;
    max-width: unset;
    border-radius: 0px;
}

.ticker {

    display: inline-block;
    height: 4rem;
    line-height: 4rem;  
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-name: ticker;
            animation-name: ticker;
    -webkit-animation-duration: $durationnew;
            animation-duration: $durationnew;

    }

    .ticker__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 2rem;
    color: white;   
    }

    .orange-ticker__item {
    color: #FFFEF2;
    font-family: "Manifold";
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.44px;
    line-height: 17px;
    }
</style>