<div id='r700scoacsyaw' class='tolstoy-carousel'></div>


<style>
.tolstoy-carousel {
    background: var(--mid-grey);
}
</style>


{% schema %}
{
    "name": "Tolstoy IG Feed",
    "settings": [],
    "presets": [
    {
        "name": "Tolstoy IG Feed",
        "category": "Black Friday"
    }]
}
{% endschema %}