html {
  background-color: var(--light-grey) !important;
}


/* Buttons */
body .btn-dirtea-light { background: white; color: var(--off-black); }
body .btn-dirtea-primary { background-color: #637381 !important; color: white !important; border: none; }
body .btn-dirtea-secondary { background-color: transparent !important; border: 1px solid #637381; color: #637381 !important; }
body .btn-dirtea-link { background-color: transparent !important; border: none; color: #637381 !important; }


/* Main content padding corrections */
html body .main-content[data-page-type="index"] {
    padding-top: 0px;
}
html body.announcement-hidden .main-content[data-page-type="index"] {
    padding-top: 0px;
}
html body .main-content[data-page-type="collection"] {
    padding-top: 193px;
}
html body.announcement-hidden .main-content[data-page-type="collection"] {
    padding-top: calc(193px - 50px);
}
@media only screen and (max-width: 576px) {
    html body .main-content[data-page-type="collection"] {
        padding-top: 154px;
    }
    html body.announcement-hidden .main-content[data-page-type="collection"] {
        padding-top: 104px;
    }
}

html body .main-content[data-page-type="page"] {
    padding-top: calc(50px + 90px);
}
html body.announcement-hidden .main-content[data-page-type="page"] {
    padding-top: 90px;
}
html body .main-content[data-page-type="article"] {
    padding-top: calc(50px + 90px);
}
html body.announcement-hidden .main-content[data-page-type="article"] {
    padding-top: 90px;
}








/* Dirtea slide panel (and card) */
.dirtea-panel-slideout {
    position: fixed;
    width: 375px;
    height: 100vh;
    background: var(--light-grey);
    top: 0px;
    right: 0px;
    z-index: 1000000000;
    box-shadow: 5px 0 20px 0 var(--off-black);
    overflow: scroll;
    padding-top: 130px;
}
.dirtea-panel-slideout .dirtea-cart-form {
    padding: 0 20px;
}
.dirtea-panel-slideout .panel-top-bar {
    display: flex;
    justify-content: space-between;
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    position: fixed;
    width: 375px;
    top: 0px;
    z-index: 2000000000;
    align-items: center;
    background: var(--light-grey);
    height: 100px;
    /* box-shadow: 0px 3px 11px -6px black; */
    border-bottom: 1px solid var(--off-black);
}
.dirtea-panel-slideout h3 {
    color: var(--off-black);
    font-size: 18px;
    padding: 0px;
    margin: 0px !important;
}
.dirtea-panel-slideout .panel-top-bar button {
    width: 40px;
}

/* Total row */
.dirtea-cart-total {
    height: 44px;
    display: flex;
    border-top: 1px solid var(--off-black);
    border-bottom: 1px solid var(--off-black);
    margin-top: 40px;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dirtea-cart-total p {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    color: var(--off-black);
    text-transform: uppercase;
}

/* Cart buttons */
.dirtea-cart-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 40px;
}
.dirtea-cart-buttons a.unstyled-button {
    text-decoration: underline;
    color: var(--off-black);
    text-transform: uppercase;
    font-size: 14px;
}

.dirtea-cart-added-products {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    /* max-height: calc(100vh - 354px); */
    /* overflow: scroll; */
}
.dirtea-cart-added-products-item {
    border-bottom: 1px solid var(--off-black);
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
.dirtea-cart-added-products-item:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}
.dirtea-cart-item-details {
    flex: 1;
    padding-left: 12px;
}
.dirtea-cart-subscription-message-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 18px;
}
.dirtea-cart-subscription-message-container p {
    font-size: 12px;
}
.dirtea-cart-subscription-message-container p:nth-child(2) {
    color: #2bcc81;
    font-weight: bold;
}

.dirtea-cart-price-and-modifier-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dirtea-cart-item-subscription-upsell {
    text-align: center;
    margin-top: 20px;
}
.dirtea-cart-item-subscription-upsell a {
    width: 100%;
}
.dirtea-cart-product-item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 15px;
}
.dirtea-cart-product-item-row .dirtea-cart-product-item-image-container {
    height: 100px;
    width: 100px;
}
.dirtea-cart-product-item-row .dirtea-cart-product-item-image-container .dirtea-cart-product-item-image {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.dirtea-cart-product-item-row .dirtea-cart-product-item-details-container {
    flex: 1;
}
.dirtea-cart-product-item-row  p {
    color: var(--off-black);
}
p.dirtea-cart-product-title {
    font-size: 14px;
    margin-bottom: 5px;
}
.dirtea-cart-product-item-row  p.dirtea-cart-product-price {
    font-size: 20px;
    /* margin-bottom: 20px; */
    color: var(--off-black);
    margin: 0px;
    /* width: 100px; */
}
.dirtea-cart-product-change-count-container {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    background: white;
    border-radius: 200px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    float: right;
}
.dirtea-cart-product-change-count-container a {
    color: var(--off-black);
    text-decoration: none;
}
.dirtea-cart-product-change-count-container .cart-product-item-quantity-modifier {
    width: 60px;
    font-size: 30px;
}
.dirtea-cart-product-change-count-container .cart-product-item-quantity-increment {
    font-size: 27px;
    cursor: pointer;
}
.dirtea-cart-product-change-count-container .cart-product-item-quantity {

}
.dirtea-cart-product-change-count-container .cart-product-item-quantity-decrement {
}

.remove-product-from-cart {
    position: absolute;
    background: white;
    padding: 5px 10px;
    border-radius: 100px;
    line-height: 20px;
    box-shadow: 0px 0px 1px 1px #0000004f;
    margin-top: -10px;
    margin-left: -10px;
}
.remove-product-from-cart svg {
    height: 10px;
    width: 10px;
}


/* Hide total, checkout and upsells if cart is empty */
.dirtea-panel-slideout[data-cart-size="0"] .dirtea-cart-total,
.dirtea-panel-slideout[data-cart-size="0"] .dirtea-cart-buttons,
.dirtea-panel-slideout[data-cart-size="0"] .dirtea-cart-upgrade-order {
    display: none;
}
.dirtea-panel-slideout .dirtea-empty-cart-message {
    display: none;
}
.dirtea-panel-slideout[data-cart-size="0"] .dirtea-empty-cart-message {
    display: block;
    margin: 20px 0 50px 0;
    min-height: 40vh;
}
.dirtea-panel-slideout .dirtea-empty-cart-message, .dirtea-panel-slideout .dirtea-empty-cart-message a {
    color: var(--off-black);
    font-size: 16px;
}


.dirtea-cart-page-container[data-cart-size="0"] .dirtea-cart-total,
.dirtea-cart-page-container[data-cart-size="0"] .dirtea-cart-buttons,
.dirtea-cart-page-container[data-cart-size="0"] .dirtea-cart-upgrade-order {
    display: none;
}
.dirtea-cart-page-container .dirtea-empty-cart-message {
    display: none;
}
.dirtea-cart-page-container[data-cart-size="0"] .dirtea-empty-cart-message {
    display: block;
}
.dirtea-cart-page-container .dirtea-empty-cart-message, .dirtea-cart-page-container .dirtea-empty-cart-message a {
    color: var(--off-black);
    font-size: 16px;
}

/* Hide products container if cart is empty */
.dirtea-panel-slideout[data-cart-size="0"] .dirtea-cart-added-products {
    display: none;
}


.dirtea-cart-upsell-products {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    /* max-height: calc(100vh - 354px); */
    /* overflow: scroll; */
    padding-inline: 15px;
}
.dirtea-cart-upsell-products .btn-dirtea-primary {
    border: none;
    width: 140px;
}




/* Scrim */
.dirtea-full-page-scrim {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #0000004a;
    top: 0px;
    left: 0px;
    z-index: 5555555555;
}




/* Static and blog post page hero */
.static-page-hero {
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 576px) {
    .static-page-hero {
        height: 350px;
  }
}




/* ACCOUNT / LOGIN pages */
.dirtea-login-page {
    color: var(--off-black);
    max-width: 493px;
}
.dirtea-login-page h3 {
    color: var(--off-black);
    margin-bottom: 20px;
}
.dirtea-login-page .errors {
    font-size: 14px;
}
.dirtea-login-page input.login-form-input {
    font-size: 16px;
}
.dirtea-login-page .dirtea-form-horizontal-group {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-between;
}
.dirtea-login-page .dirtea-form-horizontal-group input {
    flex: 1;
}
.dirtea-login-page .customer-login__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.dirtea-login-page, .dirtea-login-page span, .dirtea-login-page p, .dirtea-login-page a {
    font-size: 16px;
    color: var(--off-black);
}
.dirtea-login-page .login-unstyled-links {
    text-decoration: underline;
}
.dirtea-login-page .customer-login__recover-password {
    text-transform: uppercase;
    font-size: 14px;
}




/* SECTION styling */
.dirtea-section {padding: 80px 0; }
.dirtea-section-title { font-size: 34px; color: var(--off-black); font-weight: bold; }


/* Blog post lists */
:root {
    --dirtea-blogpost-height-desktop: 430px;
    --dirtea-blogpost-height-mobile: 270px;
    --dirtea-blogpost-details-height-desktop: 60px;
    --dirtea-blogpost-details-height-mobile: 80px;
    --dirtea-blogpost-gap-desktop: 50px;
    --dirtea-blogpost-gap-mobile: 15px;
}

/* Set defaults */
@media only screen and (min-width: 576px) {
    .dirtea-blog-collection {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-gap: var(--dirtea-blogpost-gap-desktop);
    }
}

@media only screen and (max-width: 576px) {
    .dirtea-blog-collection {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: var(--dirtea-blogpost-gap-mobile);
    }
}
/* Blog post in list styling*/
.dirtea-blog-collection a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}
.dirtea-blog-post {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    min-height: var(--dirtea-blogpost-height-desktop);
    position: relative;
}
.dirtea-blog-post .blog-thumbnail {
    display: flex;
    flex: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.dirtea-blog-post .blog-details {
    height: var(--dirtea-blogpost-details-height-desktop);
    background: var(--light-grey);
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.dirtea-blog-post .blog-details {
    color: var(--off-black);
    font-size: 16px;
}
.dirtea-blog-post .blog-details .card-lead {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 576px) {
  .dirtea-blog-post {
    min-height: var(--dirtea-blogpost-height-mobile);
  }
  .dirtea-blog-post .blog-details {
    height: var(--dirtea-blogpost-details-height-mobile);
  }

}





/* Static and blogpost typography */
.static-page-content {
    color: var(--off-black);
    margin-bottom: 100px !important;
}
.static-page-content p {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 13px;
}
.static-page-content ul li { font-size: 24px; }
.static-page-content h1, .static-page-content h2, .static-page-content h3, .static-page-content h4, .static-page-content h5, .static-page-content h6, .static-page-content a {
    color: var(--off-black) !important;
}
.static-page-content a {
    text-decoration: underline;
}
.static-page-content ul {
    padding: 0px 0 26px 20px;
}
.dirtea-recipe-content, .dirtea-recipe-content p, .dirtea-recipe-content h1, .dirtea-recipe-content h2, .dirtea-recipe-content h3, .dirtea-recipe-content h4, .dirtea-recipe-content a {
    color: var(--off-black);
}
.dirtea-recipe-content h1, .dirtea-recipe-content h2, .dirtea-recipe-content h3, .dirtea-recipe-content h4 {
    font-weight: bold;
}




/* Section headers + menu (used on static and blogging pages) */
.dirtea-content-page { max-width: 837px; }
.section-header {
    padding: 40px 0;
}
.section-header__subtitle {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--off-black);
}
.section-header__title {
    font-size: 34px;
    line-height: 41px;
    color: var(--off-black);
}

.dirtea-page-menu {
    max-width: 1280px;
    border-top: 1px solid var(--off-black);
    border-bottom: 1px solid var(--off-black);
    margin-bottom: 60px;
}
.dirtea-page-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 10px 0;
    /*
    height: 44px;
    padding: 0px;
    */
}
.dirtea-page-menu ul li {
    float: left;
    margin: 0 20px;
    text-align: center;
}
.dirtea-page-menu ul li.active a {
    text-decoration: underline;
}
.dirtea-page-menu ul li a {
    font-size: 14px;
    color: var(--off-black);
    text-decoration: none;
    text-transform: uppercase;
}



/* swiper-wrapper */
.swiper-wrapper {

}
.swiper-wrapper .swiper-slide {
    
}





/* Product carousel */
.dirtea-product-carousel {
    margin-top: 30px;
    overflow: hidden;

}
.dirtea-product-carousel.mobile-only .swiper-wrapper{
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: flex-start;
}
.dirtea-product-carousel.desktop-only {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: top;
    justify-content: center;
}
/* @media only screen and (max-width: 576px) {
    .dirtea-product-carousel {
        flex-direction: column;
        gap: 50px;
    }
} */


.dirtea-product-carousel-item {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    max-width: 350px;
    text-align: center;
}

@media only screen and (max-width: 576px) {
    .dirtea-product-carousel-item {
        padding: 0 10px;
    }
}



.dirtea-product-carousel-item a, .dirtea-product-carousel-item button {
    text-decoration: none;
    font-size: 10px;
}
.dirtea-product-carousel-item .product-image-container {
    min-height: 280px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.dirtea-product-carousel-item .product-title {
    font-size: 24px;
    color: var(--off-black);
    margin: 0px;
}
.dirtea-product-carousel-item .product-tagline {
    min-height: 24px;
}
.dirtea-product-carousel-item .product-price {
    color: var(--off-black);
    font-size: 16px;
    margin-top: 10px;
}
.dirtea-product-carousel-item p {
    font-size: 16px;
    color: var(--off-black)
}

.dirtea-product-carousel-item .product-card-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}
.dirtea-product-carousel-item .product-card-buttons a.btn {
    /* max-width: 100%; */
    /* min-width: 80%; */
    width: 65%;
    padding: 10px 20px;
}
@media only screen and (max-width: 576px) {
    .dirtea-product-carousel-item .product-card-buttons a.btn {
        width: 100%;
    }
}

.collection-template-new-container {

}





/* Product page -- product form (also used in subscription modal) */
.rc_container_wrapper {
    display: none !important;
}

.pdp-product-form {
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #252525;
}

.show-product-form {
    display: block;
}

.subscription-product-carousel-buttons-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -410px;
    z-index: 1;
}

.swiper-subscription-button-next {
    cursor: pointer;
}

.swiper-subscription-button-next {
    transform: scale(-1, 1);
    cursor: pointer;
}

.pdp-add-to-cart-cta {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    /* width: 245px; */
    border-radius: 25px;
    border: none;
    /*background-color: #DE8C59;*/
    background-color: var(--off-black);

    color: #FFFFFF;
    font-family: "Manifold";
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 14px;
    cursor: pointer;

    padding: 10px 40px;
}

@media (min-width: 769px) {
    .pdp-add-to-cart-cta {
        /* width: 280px; */
    }
}

.pdp-cancel-cta {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 16px;
    text-decoration: underline;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    
}

.pdp-product-form-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
    max-width: 90vw;
}

@media (min-width: 769px) {
    .pdp-product-form {
        max-width: 100vw;
    }
}

.pdp-product-form-option-radio-button {
    width: 22px;
    height: 20px;
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: 5px;
}
.pdp-product-form-option-radio-button {
  border: 1px solid #637381!important;
  background-color: #637381!important;
}
.filled-radio-button {
    background: #FFFFFF !important;
}

.pdp-product-from-one-time-option {
    text-align: left;
    width: 100%;
    color: #252525;
    font-family: "Manifold";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.17px;
    line-height: 18px;
}

.pdp-product-form-option-first-line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #252525;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.17px;
    line-height: 21px;
}

.pdp-product-form-option-second-line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: #252525;
    font-size: 14px;
    letter-spacing: 1.17px;
    line-height: 21px;
}

.pdp-product-form-option-second-line div:nth-child(2) {
    color: #FFFFFF;
    background-color: #DE8C59;
    font-size: 10px;
    border-radius: 30px;
    padding: 2px 8px;
}

.show-product-form {
    display: flex !important;
}


.product-template-new-form .pdp-cta-form-container {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    font-family: "Manifold";
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #252525;
}

@media (max-width: 589px) {
    .product-template-new-form .pdp-cta-form-container {
        position: fixed;
        bottom: 0px;
        background: white;
        width: 100%;
        padding: 20px 20px;
        margin: 0px;
        left: 0px;
        border: 0px;
        box-shadow: 0px 5px 14px 0px #0000008a;
        z-index: 9999999999999;
    }
}




.pdp-cta-form-price-container {
    text-align: start;
  
}
.pdp-cta-form-price-strikethrough {
  text-decoration: line-through;
  font-size: 16px;
}

.pdp-cta-form-price {
    color: #252525;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin-right: 20px;
}





/* Footer */
.site-footer {
    background: var(--mid-grey)
}
.site-footer .footer-logo { padding-bottom: 15px; }




/* Top bar loader */
@keyframes loading {
    0%   {width: 0px; float: left; }
    40%  {width: 100%; float: left; }
    60%  {width: 100%; float: right; }
    90%  {width: 0px; float: right;}
    100% {width: 0px; float: left;}
}

.dirtea-loading-container {
    position: fixed;
    z-index: 99999999999999999999999;
    width: 100%;
    height: 10px;
    background: var(--light-grey);
    top: 0px;
}
.dirtea-loading-container .dirtea-loading-indicator{
    background: var(--turkey-brand-color);
    height: 10px;
    animation-name: loading;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}



/* Swipe library */
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
  }
  .swipe-wrap {
    overflow: hidden;
    position: relative;
  }
  .swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  



/* Utilities */
.img-blend-luminosity {
    mix-blend-mode: luminosity;
}
.reset-font {
    font-family: sans-serif;
}
.border-none {
    border: none !important;
}
@media only screen and (max-width: 576px) {
    .hide-mobile { display: none; }
    .show-mobile { display: block; }
    .hide-desktop { display: none; }
    .show-desktop { display: none; }
}
@media only screen and (min-width: 576px) {
    .hide-desktop { display: none; }
    .show-desktop { display: block; }
    .hide-mobile { display: none; }
    .show-mobile { display: none; }
}
.border-top-1px {
    border-top: 1px solid var(--off-black);
}
.border-bottom-1px {
    border-bottom: 1px solid var(--off-black);
}
.rotate-90 {
    transform: rotate(90deg);
}
.text-uppercase {
    text-transform: uppercase;
}
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
.mb-40 { margin-bottom: 40px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mt-40 { margin-top: 40px; }

.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }
.pb-40 { padding-bottom: 40px; }
.pt-15 { padding-top: 15px; }
.pt-20 { padding-top: 20px; }
.pt-40 { padding-top: 40px; }

.w-100 {width: 100%; }
.mw-282 {min-width: 282px;}
.text-decoration-none {text-decoration: none;}
.text-decoration-underline {text-decoration: underline !important;}
.text-start { text-align: start; }
.text-end { text-align: end; }


.hide-children * { display: none; }



.bottom-shadow:after {
    content: "";
    display: block;
    height: 8px;
    background: transparent;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }
  