{% comment %}
<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/NN6rZj8fRcsdXhhpYF383A" async></script>
<div class="yotpo-widget-instance" data-yotpo-instance-id="48041"></div>
{% endcomment %}
{% comment %}
{% section 'reward_bnr' %}
{% section 'more_rewarding' %}
{% section 'Refer_friend' %}
{% section 'vip_earn' %}
{% section 'discounts_sec' %}
{% endcomment %}
{% if customer %}
<div class="page-width">
  <div class="grid text-center">
    <div class="grid__item">
<header class="section-header">
  <div class="section-header__title collection__title">Dirtea rewards</div>
  <div class="section-header__description">Your Account</div>
  <div class="collection-dropdowns">
    <label class="medium-up--hide drop_label"></label>
    <div class="dropdowns-inner">
      {{ 'Sign out' | customer_logout_link }}
    </div>
  </div>
</header>
</div>
</div>
</div>
{% endif %}

<script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/NN6rZj8fRcsdXhhpYF383A" async></script>
<div class="yotpo-widget-instance" data-yotpo-instance-id="48588"></div>

<style>
  .yotpo-customer-logged-out-buttons {
    display: flex;
}
.yotpo-customer-logged-out-buttons .yotpo-register-link {
    order: 2;
    padding: 0;
}

.yotpo-customer-logged-out-buttons .yotpo-login-link {
    order: 1;
    padding-right: 10px;
}
 .yotpo-widget-my-rewards-widget .bner_second img {
    width: 100%;
}
  @media(max-width:992px){
    .yotpo-widget-hero-section .yotpo-text-on-background ,
.yotpo-widget-referral-widget .yotpo-tile {
     min-height:unset!important;
    }
    .yotpo-widget-my-rewards-widget .yotpo-is-mobile .yotpo-tile-box {
     padding:20px 0;
    }
    .yotpo-redemption-options-list.yotpo-is-mobile.three-in-row.yotpo-no-background-type {
    display: none!important;
}
    .yotpo-coupons-redemption-widget .yotpo-coupons-redemption-widget-container.yotpo-is-mobile {
    padding: 0!important;
      margin-top:0;
}
    .yotpo-widget-campaign-widget .yotpo-widget-campaign-widget-container.yotpo-is-mobile {
    padding: 0 0 10px 0;
}
    .yotpo-action-button-widget.yotpo-customer-share-button {
     margin-top:40px!important;
    }
    .yotpo-widget-referral-widget .yotpo-header-text {
    padding-bottom: 15px;
}
    .yotpo-coupons-redemption-widget .yotpo-login-button {
     margin-top:15px;
    }
  }
  @media(max-width:560px){
    .yotpo-widget-instance-container .yotpo-container-headline ,
.yotpo-tile-wrapper .yotpo-email-view.yotpo-is-mobile .yotpo-title-text  {
    font-size: 24px!important;
}
   .yotpo-rewards-guide-tile-wrapper .yotpo-info .yotpo-inner-text {
    font-size: 24px!important;
}
    .yotpo-widget-my-rewards-widget .yotpo-is-mobile .yotpo-info {
    margin-bottom: 10px;
}
  }
  </style>
{% if customer %}
<div class="bner_second">
  <!-- <img src="https://cdn.shopify.com/s/files/1/0502/4782/7656/files/bner_scnd.png?v=1624972674"> -->
    <div class="flex yotpo-screen-friends_emails">
      <div class="left">
        <div class="yotpo-email-view">
    <div
      class="yotpo-header-text"
      style='color: rgb(1, 33, 104); font-size: 18px; font-family: "Manifold"; font-style: normal;'
    >
      DIRTEA REWARDS
    </div>
    <div
      role="heading"
      aria-level="2"
      class="yotpo-title-text"
      style='color: rgb(1, 33, 104); font-size: 40px; font-family: "Manifold"; font-style: normal;'
    >
      A more rewarding loyalty programme
    </div>
    <div
      role="heading"
      aria-level="3"
      class="yotpo-description-text"
      style='color: rgb(1, 33, 104); font-size: 16px; font-family: "Manifold"; font-style: normal;'
    >
      With so many ways to earn points, you'll get to free products faster than other reward programmes
    </div>
  </div>

    </div>
    <div class="right flex">
      <div class="circle-container">
        <div class="circle">1 <br/> Point</div>
        Per £1 spend
      </div>
      <div class="circle-container">
        <div class="circle">25 <br/> Points</div>
        Create and account
      </div>
      <div class="circle-container">
        <div class="circle">100 <br/> Points</div>
        Birthday reward
      </div>
      <div class="circle-container">
        <div class="circle">25 <br/> Points</div>
        Write a review
      </div>
      <div class="circle-container">
        <div class="circle">5 <br/> Points</div>
        Follow us on Instagram
      </div>
      <div class="circle-container">
        <div class="circle">5 <br/> Points</div>
        Follow us on Facebook
      </div>
      <div class="circle-container">
        <div class="circle">5 <br/> Points</div>
        Share us on Facebook
      </div>
      <div class="circle-container">
        <div class="circle">5 <br/> Points</div>
        Follow our YouTube page
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="bner_second">
  <!-- <img src="https://cdn.shopify.com/s/files/1/0502/4782/7656/files/bner_scnd.png?v=1624972674"> -->
    <div class="flex yotpo-screen-friends_emails">
      <div class="left">
        <div class="yotpo-email-view">
    <div
      class="yotpo-header-text"
      style='color: rgb(1, 33, 104); font-size: 18px; font-family: "Manifold"; font-style: normal;'
    >
      DIRTEA REWARDS
    </div>
    <div
      role="heading"
      aria-level="2"
      class="yotpo-title-text"
      style='color: rgb(1, 33, 104); font-size: 40px; font-family: "Manifold"; font-style: normal;'
    >
      A more rewarding loyalty programme
    </div>
    <div
      role="heading"
      aria-level="3"
      class="yotpo-description-text"
      style='color: rgb(1, 33, 104); font-size: 16px; font-family: "Manifold"; font-style: normal;'
    >
      With so many ways to earn points, you'll get to free products faster than other reward programmes
    </div>
  </div>

    </div>
    <div class="right flex">
      <div class="circle-container">
        <div class="circle">1 <br/> Point</div>
        Per £1 spend
      </div>
      <div class="circle-container">
        <div class="circle">25 <br/> Points</div>
        Create and account
      </div>
      <div class="circle-container">
        <div class="circle">100 <br/> Points</div>
        Birthday reward
      </div>
      <div class="circle-container">
        <div class="circle">25 <br/> Points</div>
        Write a review
      </div>
      <div class="circle-container">
        <div class="circle">5 <br/> Points</div>
        Follow us on Instagram
      </div>
      <div class="circle-container">
        <div class="circle">5 <br/> Points</div>
        Follow us on Facebook
      </div>
      <div class="circle-container">
        <div class="circle">5 <br/> Points</div>
        Share us on Facebook
      </div>
      <div class="circle-container">
        <div class="circle">5 <br/> Points</div>
        Follow our YouTube page
      </div>
    </div>
  </div>
</div>
{% endif %}
<script>
  setTimeout(function(){
  $('.bner_second').appendTo('.yotpo-widget-my-rewards-widget');
  $('.bner_second').apendTo('.yotpo-rewards-guide-tile-wrapper');
}, 2000);
  </script>
